@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Libre Franklin", sans-serif;
  }

  :root{
    --dark: #5A639C;
    --dark-semi: #7776B3;
    --light-semi: #9B86BD;
    --light : #F2BBE9;
    --white : #FFFFFF;
    --white-light : #BEC7D5;
  }
  
  .text-white{
    color:var(--white);
  }
  .text-white-light {
    color:var(--white-light);
  }

  .dark-text {
    color: var(--dark);
  }
    
  .dark-semi-text {
    color: var(--dark-semi);
  }

  .light-semi-text {
    color:var(--light-semi);
  }

  .light-text {
    color:var(--light);
  }

  .bg-dark-color {
    background: var(--dark);
  }
    
  .bg-dark-semi-color {
    background: var(--dark-semi);
  }

  .bg-light-semi-color {
    background:var(--light-semi);
  }

  .bg-light-color {
    background:var(--light);
  }

  .square-card{
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 22px;
    padding: 14px;
  }
  
  .circle-card{
    height: 100px;
    background: var(--white);
    width: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 22px
  }